{% load static %}

<!-- Meta Information -->
<meta charset="UTF-8" />
<meta name="robots" content="noindex" />
<meta name="author" content="Michael Brauweiler" />
{% if post %}

<meta property="article:published_time"content="{{post.modified | date:"Y-m-d" }}" />

{% endif %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/colors.css" %}">

<!-- Browser -->
<title>Rattle:tat</title>
