/* Bootstrap */
[data-theme="dark"] {
    background-color: #111 !important;
    color: #d0dfe6;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
    color: #d0dfe6
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #d0dfe6 !important;
}

/* Links */
a:link, a:visited, a:hover, a:active {
    color:#748aa6;
    text-decoration: none;
}

[data-theme="dark"] a:link,
[data-theme="dark"] a:visited,
[data-theme="dark"] a:hover,
[data-theme="dark"] a:active {
    color: #748aa6;
    text-decoration: none;
}


/* Header */
[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5 {
    color: white !important;
}

/* Navbar */
[data-theme="dark"] .nav-link {
  color: #d0dfe6 !important;
}
[data-theme="dark"] .active {
  color: #ff410d !important;
}

[data-theme="dark"] .navbar-brand {
  color: #ff410d !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(51,48,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

[data-theme="dark"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,85,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

[data-theme="dark"] .navbar-toggler:hover {
  outline-color: #ff5500;
  border-color: #ff5500;
}

[data-theme="dark"] .navbar-toggler:focus {
  outline-color: #ff5500;
  border-color: #ff5500;
}


/* Buttons */
[data-theme="dark"] .btn {
    color: #F9EE98  !important;
}

/* Input */

[data-theme="dark"] input[type="text"]{
    background-color: #111 !important;
    color: #d0dfe6
}

[data-theme="dark"] textarea{
    background-color: #111 !important;
    color: #d0dfe6
}

/* Other */
[data-theme="dark"] hr {
    background:#333;
}

[data-theme="dark"] blockquote {
  color: #d0dfe6 !important;
  background:#333 !important;
  border-left:8px solid #ff5500 !important;
}
