/* Bootsrap */
[data-theme="dark"] {
    background-color: #111 !important;
    color: #d0dfe6;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
    color: #d0dfe6
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #d0dfe6 !important;
}

/* Links */

[data-theme="dark"] .title a {
    color: white !important;
}

a {
    color:#748aa6;
    text-decoration: none;
}

[data-theme="dark"] a {
    color: #748aa6 !important;
}

/* Header */
[data-theme="dark"] h1, 
[data-theme="dark"] h2, 
[data-theme="dark"] h3, 
[data-theme="dark"] h4, 
[data-theme="dark"] h5 {
    color: white !important;
}


/* Navbar */
[data-theme="dark"] .nav-link {
  color: #d0dfe6 !important;
}

[data-theme="dark"] .nav-item.active .nav-link {
  color: #ff410d!important;
}

[data-theme="dark"] .navbar-brand {
  color: #ff410d !important;
}

/* Buttons */
[data-theme="dark"] .btn {
    color: #F9EE98  !important;
}
