{% extends "startpage/base.html" %}
{% load static %}

{% block page_content %}
{% include "startpage/hero.html" %}

<div class="container mt-4 start-text" style="color:white">
    <h1 id="welcome">welcome stranger</h1>
    <h5>

        <p>
            This is my public workplace for various stuff I'm doing.
        </p>

        <!-- <p> -->
        <!--     Feel free to explore -->
        <!--     <a href="projects">my projects</a> -->
        <!--     or -->
        <!--     <a href="blog">my blog posts</a>! -->
        <!--     <br> -->
        <!--     However, there is no content so far. -->
        <!--     Please stay tuned! -->
        <!-- </p> -->

        <p>
            You can find me
            <a href="https://github.com/rattletat">on GitHub</a>
            and
            <a href="https://tum.social/@rattletat">on Mastodon</a>.
        </p>

    </h5>
</div>
{% endblock %}
