{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block style %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/colors.css" %}">
{% endcompress %}
{% compress css inline %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/prism.css" %}">
{% endcompress %}
{% endblock %}

{% block script %}
{% compress js %}
<script src="{% static "blog/js/clipboard.min.js" %}"></script>
<script src="{% static "blog/js/prism.js" %}"></script>
{% endcompress %}
{% endblock %}
