[Unit]
Description=Gunicorn daemon for Django Project
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/HOST/sites/DOMAIN
EnvironmentFile=/home/HOST/sites/DOMAIN/.env
ExecStart=/home/HOST/.local/pipx/venvs/poetry/bin/poetry run gunicorn --name=DOMAIN --pythonpath=/home/HOST/sites/DOMAIN --bind unix:/home/HOST/gunicorn.socket --workers 3 --config /etc/gunicorn.d/gunicorn.py config.wsgi:application
Restart=always
SyslogIdentifier=gunicorn
User=HOST
Group=HOST


[Install]
WantedBy=multi-user.target
~
~
~
