blockquote{
  font-size: 1.2em;
  position: relative;
  margin:30px auto;
  padding:1em 1em 0.5em 1.5em;
  border-left:8px solid #333333 ;
  line-height:1.5;
  color: #555555;
  background:#EDEDED;

}

blockquote::before{
  content: "";
}

blockquote::after{
  content: '';
}

blockquote span{
  display:inline-block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
