/* Graph */
[data-theme="dark"] .nodes circle {
  fill: #ff410d;
  stroke: #000000;
  stroke-width: 1;
}

[data-theme="dark"] .nodes rect {
  fill: #black;
  stroke: #ff410d;
  stroke-width: 1;
}

[data-theme="dark"] .nodes text {
  fill: #ff410d;
}

[data-theme="dark"] .edges {
  stroke: #d0dfe6;
  stroke-opacity: 0.6;
  stroke-width: 1;
}

/* Post header */
[data-theme="dark"] .tag {
  color: #f9ee98 !important;
}

[data-theme="dark"] .author {
  color: #f9ee98 !important;
}

[data-theme="dark"] .post-title {
  display: table;
  padding: 2px;
  background-color: #ff410d;
  color: black !important;
  font-family: monospace, monospace;
  font-weight: bold;
  font-size: 1.1em;
}

/* Post content */
[data-theme="dark"] .card {
  background-color: black;
  border-color: #ff410d;
  border-width: 1px;
  border-style: dashed dashed;
}

.code-toolbar pre {
  border-width: 1px !important;
  font-size: 13px !important;
}

[data-theme="dark"] .code-toolbar pre {
  border-color: #ff410d;
  border-style: dotted dotted;
  background-color: black;
}

[data-theme="dark"] hr {
  border-top: 1px dashed;
  color: #ff410d;
}

/* Comment section */
[data-theme="dark"] .mastodon-comment .author .details .name {
  color: #ff5500;
}

[data-theme="dark"] .mastodon-comment {
  border-color: #ff410d;
  border-width: 1px;
  border-style: dotted dotted dotted dotted;
}

/* Navigation Footer */
[data-theme="dark"] .arrow-link:link {
  color: #d0dfe6;
  font-size: 25px;
}
