{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load post_to_js %}

{% block style %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "blog/css/colors.css" %}">
{% endcompress %}
{% compress css inline %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/prism.css" %}">
{% endcompress %}
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v6.js"></script>

{% compress js %}

{% if object_list.exists %}
<script src="{% static "blog/js/graph.js" %}"></script>
{% endif %}

{% if post %}
<script src="{% static "blog/js/clipboard.min.js" %}"></script>
<script src="{% static "blog/js/prism.js" %}"></script>
{% endif %}

{% if post.javascript %}
    <script type="text/javascript">{{ post.javascript | safe }}</script>
{% endif %}
{% endcompress %}

{% if object_list.exists %}
<script type="text/javascript">plot_graph('{{ object_list | post_to_js | safe }}')</script>
{% endif %}
{% endblock %}
