<div class="container">
  <div class="row">
    <div class="col col-4 text-center">
      {% if post.previous %}
      <a href="{{ post.previous.get_absolute_url }}" title="{{ post.previous.title }}" class="arrow-link">←</a>
      {% endif %}
    </div>

    <div class="col col-4 text-center">
      <a href="#" title="top of page" class="arrow-link">↑</a>
    </div>

    <div class="col col-4 text-center">
      {% if post.next %}
      <a href="{{ post.next.get_absolute_url }}" title="{{ post.next.title }}" class="arrow-link">→</a>
      {% endif %}
    </div>
  </div>
</div>
