{% extends "startpage/base.html" %}
{% load static %}

{% block page_content %}
{% include "startpage/hero.html" %}

<div class="container mt-4" style="position:absolute;top:100%">
    <h1 id="welcome">Welcome Stranger.</h1>
    <h5>
    This site is my public workplace for various stuff I'm doing.
    <p>Feel free to explore <a href="projects">my projects</a> or <a href="blog">my blog posts</a>!</p>
    <p>However, there is no content so far. Please stay tuned!</p>
    You can find me <a href="https://github.com/rattletat">on GitHub</a> and <a
        href="https://twitter.com/m_brauweiler">on Twitter</a>.
    </h5>
</div>
{% endblock %}
